body{
    background-image:url("https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg");
    
}
pre{
    color:white ;
    font-size: 50px;
}
h2{
    color:white;
    font-size:80px;
}